
.body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.25rem;
    background: #fafafa;
}

/* .global {
    background: #aaaaaa;
} */