
.body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'PT Sans', sans-serif;
    /* font-family: 'Source Serif Pro'; */
    font-size: 1.25rem;
    background: #fafafa94;
}

/* .global {
    background: #aaaaaa;
} */

a {
    text-decoration: None !important;
}

a:hover {
    text-decoration: None !important;
}