body {
    margin: 0;
    padding-top: 0;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', */
    /* 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', */
    /* sans-serif; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* font-family: 'PT Sans', sans-serif;
    font-size: 1.6rem; */
    /* font-family: 'Montserrat'; */
    /* font-family: 'Inconsolata'; */
    /* font-family: 'Uchen', serif; */
    /* font-family: 'Bona Nova', serif; */
    /* font-family: 'Nunito', sans-serif; */
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
    text-decoration: None !important;
}
a:hover {
    text-decoration: None !important;
}
